<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <title>TO DO LIST</title>
    <style>
      body {
        background: rgb(17, 17, 17);
      }
      #container {
        max-width: 60%;
        height: fit-content;
        background: white;
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
        display: grid;
        gap: 4px;
      }
      strong {
        font-size: 16px;
      }
      em {
        font-size: 12px;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      }
      #input {
        width: 60%;
        height: 50vh;
        place-self: center;
      }
      form {
        color: whitesmoke;
        display: grid;
        gap: 4px;
        align-items: center;
      }
      h1 {
        text-align: center;
      }
      .input {
        display: flex;
        justify-content: space-between;
      }
      label {
        font-size: 14px;
        font-weight: 550;
        color: white;
      }
      input,
      textarea {
        border: 2px solid black;
        border-radius: 6px;
        width: 80%;
        text-align: center;
        height: 3rem;
      }
      textarea {
        height: 8rem;
        text-align: start;
      }
      button {
        background: rgb(60, 60, 60);
        width: fit-content;
        place-self: end;
        border-radius: 3px;
        border: none;
        color: white;
        font-weight: 500;
      }
      li {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    </style>
  </head>
  <body>
    <div id="input" class="shadow">
      <form
        class="w-100 mx-auto px-5 py-5 shadow"
        action="/dashboard"
        method="post"
      >
        <h1>TO-DO LIST</h1>
        <div class="input">
          <label for="subject">Subject:</label>
          <input name="subject" id="subject" type="text" required />
        </div>
        <div class="input">
          <label for="detail">Detail:</label>
          <textarea name="detail" id="detail" required></textarea>
        </div>
        <button class="mt-2 px-4 py-2 shadow">ADD</button>
      </form>
    </div>

    <div class="mx-auto mt-5 px-5 py-5 shadow" id="container">
      <h1>My ToDo</h1>
      <ul>
        <% todo.forEach((t, index) => { %>
        <li>
          <div class="todo">
            <strong><%= t.subject %> <br /> </strong>
            <p><%= t.detail %></p>
          </div>

          <div class="btn">
            <form action="/todo/delete" method="post">
              <input name="index" value="<%= index%>" type="hidden" />
              <button style="background: red">Delete</button>
            </form>
            <form action="/edit/<%= index %>" method="get">
              <button>Edit</button>
            </form>
          </div>
        </li>
        <% }) %>
      </ul>
    </div>
  </body>
</html>
