<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form class="w-100 mx-auto px-5 py-5 shadow" action="/edit/<%= index %>" method="post">
      <h1>Edit LIST</h1>
      <div class="input">
        <label for="subject">Subject:</label>
        <input
        name="subject"
        type="text"
        value="<%= onetodo.subject %>"
        required
        />
      </div>
      <div class="input">
        <label for="detail">Detail:</label>
        <input
          value="<%= onetodo.detail %>"
          name="detail"
          required
        />
      </div>
      <button class="mt-2 px-4 py-2 shadow">ADD</button>
    </form>
  </body>
</html>
